<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 動作設定  -->    
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="defaultStatementTimeout" value="30"/>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>

	<!-- LowerCase/UpperCase ignore Map -->
	<typeAliases>
		<typeAlias alias="incaseMap" type="org.apache.commons.collections.map.CaseInsensitiveMap" />
		<!-- 
		<typeAlias alias="MonitoringModuleVO" type="com.sa.cloud.db.service.portal.admin.monitoring.monVO.MonitoringModuleVO" />
		<typeAlias alias="MonitoringItemVO" type="com.sa.cloud.db.service.portal.admin.monitoring.monVO.MonitoringItemVO" />
		<typeAlias alias="monitoringAlertVo" type="com.sa.cloud.db.service.portal.user.monitoring.MonitoringAlertVO" />
		<typeAlias alias="apoloMngeVo" type="com.sa.cloud.db.service.portal.admin.apolo.apoloMngeVO.ApoloMngeVO" />
		<typeAlias alias="partnerMgmtVo" type="com.sa.cloud.db.service.portal.common.partner.PartnerMgmtVO" />
		<typeAlias alias="matchMailMgmtVo" type="com.sa.cloud.db.service.portal.admin.mail.mailVo.MatchMailMgmtVo" />
		<typeAlias alias="monStatMgmtVo" type="com.sa.cloud.db.service.portal.admin.monitoring.monVO.MonitoringStatusMgmtVO" />
		<typeAlias alias="alertMngeVo" type="com.sa.cloud.db.service.portal.user.common.alert.AlertMngeVO" /> -->
	</typeAliases>

	<!-- dbコネクト情報-->
	<environments default="kimnkwak">
		<environment id="kimnkwa">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED" >
				<property name="driver" value="org.mysql.jdbc.Driver" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
				<!-- <property name="poolMaximumActiveConnections" value="10"/>
				<property name="poolMaximumIdleConnections" value="1"/>
				<property name="poolMaximumCheckoutTime" value="20000"/>
				<property name="poolPingEnabled" value="true"/>
				<property name="poolPingQuery" value="select 1"/>
				<property name="poolPingConnectionsNotUsedFor" value="43200"/>
				<property name="poolTimeToWait" value="3000"/> -->
			</dataSource>
		</environment>
	</environments>

	<!-- sqlMapperリスト -->
	<mappers>
		<mapper resource="com/myhome/portal/db/account/sqlmap/account.xml" />
		<!-- "src/com/myhome/portal/db/account/sqlmap/account.xml" -->
		<!-- <mapper resource="com/sa/cloud/db/mybatis/sqlmapper/portal/common/metric/incident.xml" />
		<mapper resource="com/sa/cloud/db/mybatis/sqlmapper/portal/admin/common/common.xml" />
		<mapper resource="com/sa/cloud/db/mybatis/sqlmapper/portal/admin/preprocess/preprocess.xml" /> -->
	</mappers>
</configuration>